.study-name {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.school-name {
  margin-top: 4px;
  font-weight: lighter;
  font-style: italic;
  display: inline;
  margin-right: 8px;
}

.date {
  font-weight: lighter;
  font-style: italic;
}

.education-section > div {
  margin-bottom: 32px;
}

.education-section h2 {
  font-size: 2rem;
  margin-bottom: 0;
}
