.study-name {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.school-name {
  margin-top: 4px;
  font-weight: lighter;
  font-style: italic;
  display: inline;
  margin-right: 8px;
  font-size: 1rem;
}

.date, .date input {
  font-weight: lighter;
  font-style: italic;
}

.education-section > div {
  margin-bottom: 32px;
}

.education-section h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

.education-element {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 32px;
}

.form-buttons button {
  font-size: 1.25rem;
}
