.general-data {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 18px 128px;
}

.general-data input {
  display: block;
}

.general-data h1,
.general-data #name {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0;
}

.general-data #name {
  width: 400px;
}

.contact-info p,
form .contact-info > div {
  margin: 4px 0;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 0.9rem;
}

form .contact-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.general-data button {
  grid-column-start: 2;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 1.1rem;
}
