.general-data {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  align-items: center;
}

.general-data h1 {
  font-size: 3.5rem;
}

.contact-info p {
  margin: 4px 0;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 0.9rem;
}